<div class="note-creator shadow-2">
    <form class="row">
        <input
                type="text"
                name="newNoteTitle"
                placeholder="Title"
                class="col-xs-10 title"
                autocomplete="off"
                [(ngModel)]="newNote.title"
                *ngIf="isFocus"
    >
    <input
      type="text"
        name="newNoteValue"
        placeholder="Take a note..."
        class="col-xs-10"
        autocomplete="off"
        [(ngModel)]="newNote.value"
        (focus)="expand()"
        (blur)="test()"
    >
        <div class="actions col-xs-12 row between-xs">
            <button
                    type="submit"
                    class="btn-light"
                    (click)="createNote()"
                    *ngIf="isFocus"
            >
                Done
            </button>
        </div>
    </form>
</div>